section.areaFlashcardTraining {
	.answerArea {
		border-collapse: separate;
		border-spacing: 1px;
		font-size: .8rem;
		width: 100%;
		margin-top: .5rem;
		tr {
			td {
				background-color: white;
				padding: 0 3px;
			}
			td.fieldWhen {
				width: fit-content;
				font-family: monospace;
			}
		}
	}
	.sizeSmartphone {
		.inputArea {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			input {
				font-size: 1.2rem;
			}
			button {
				font-size: 1.5rem;
			}
		}
	}
	.sizeComputer {
		.inputArea {
			display: flex;
			gap: 0.5rem;
		}
	}
}
