section.areaFlashcardTraining {
	.sizeSmartphone {
		.inputArea {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			input {
				font-size: 1.2rem;
			}
			button {
				font-size: 1.5rem;
			}
		}
	}
	.sizeComputer {
		.inputArea {
			display: flex;
			gap: 0.5rem;
		}
	}
}
